@inject BasketServiceClient BasketClient
@inject NavigationManager Navigation

<div class="cart-area">
    @if (basketIsAvailable)
    {
        <EditForm Model="this" FormName="checkout" OnSubmit="HandleCheckout" data-enhance>
            <button type="submit" class="cart-btn" title="View cart &amp; checkout">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="cart-count">@(customerBasket?.TotalItemCount ?? 0)</span>
            </button>
        </EditForm>
    }
</div>

@code {
    CustomerBasket? customerBasket;
    bool basketIsAvailable;

    [Parameter]
    public EventCallback<bool> BasketAvailabilityChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        (customerBasket, basketIsAvailable) = await BasketClient.GetBasketAsync("user");

        await BasketAvailabilityChanged.InvokeAsync(basketIsAvailable);
    }

    private async Task HandleCheckout()
    {
        if (customerBasket is not null)
        {
            await BasketClient.CheckoutBasketAsync("user");
        }

        // Preserve query string
        Navigation.NavigateTo($"/{new Uri(Navigation.Uri).Query}");
    }
}
