<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-libraries" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSourceMapping>
    <clear />
    <packageSource key="dotnet8">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Aspire.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Aspire.*" />
    </packageSource>
    <packageSource key="dotnet-libraries">
      <package pattern="Yarp.ReverseProxy" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Aspire.*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
