<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="dotnet9">
      <package pattern="Aspire.*" />
      <package pattern="Microsoft.Extensions.ServiceDiscovery*" />
      <package pattern="Microsoft.Extensions.Http.Resilience" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Extensions.Http.Resilience" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>