<div class="top-row fs-4 ps-3 navbar navbar-dark bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="">⥂ &nbsp; Image Gallery</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link p-3 fs-5" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

