@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.OpenIdConnect

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div>Logged in as <strong>@context.User.Identity?.Name</strong></div>
        <div>
            <form method="post" action="logout" @formname="logout" @onsubmit="OnLogoutAsync">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="btn-link">
                    Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="@Pages.Login.Url(NavigationManager)">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private async Task OnLogoutAsync()
    {
        await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        await HttpContext.SignOutAsync(OpenIdConnectDefaults.AuthenticationScheme);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
