.message {
    display: grid;
    width: 100%;
}

.message-text {
    white-space: pre;
}

.message .user {
    border: solid 1px #c3c0c0;
    border-radius: 3px;
    background-color: #cde4ff;
    text-align: right;
    margin-left: 20px;
    display: block;
    padding: 4px;
    justify-self: end;
}

.message .assistant {
    border: solid 1px #c3c0c0;
    border-radius: 3px;
    background-color: #eaeaea;
    text-align: left;
    margin-right: 20px;
    display: block;
    padding: 4px;
    justify-self: start;
}

.message-content {
    grid-area: message;
}

.message-text {
    white-space: pre-line;
    word-break: break-word;
}
