name: .NET Aspire Samples CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
  
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build & Test Samples
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_NOLOGO: true
      DOTNET_MULTILEVEL_LOOKUP: false
      DOTNET_INSTALL_DIR: ${{ matrix.os == 'ubuntu-latest' && '' || 'dotnet' }}
      ASPIRE_ALLOW_UNSECURED_TRANSPORT: true
    steps:
    - uses: actions/checkout@v4

    - name: Dapr tool installer
      uses: dapr/setup-dapr@v2
      with:
        version: '1.14.1'
      id: install-dapr

    - name: Initialize Dapr (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: ${{ steps.install-dapr.outputs.dapr-path }} init --slim

    - name: Initialize Dapr (Windows)
      if: matrix.os == 'windows-latest'
      run: ${{ steps.install-dapr.outputs.dapr-path }} init --slim

    - name: "Install .NET SDK (global.json)"
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: ${{ matrix.os == 'ubuntu-latest' && './global.json' || '.\global.json' }}
    
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install & trust dev-certs
      id: install-dev-certs
      run: dotnet dev-certs https --trust

    - name: Build
      run: ${{ matrix.os == 'ubuntu-latest' && './build.sh' || '.\build.cmd' }}
      env:
        DAPR_CLI_PATH: ${{ steps.install-dapr.outputs.dapr-path }}

    - name: Test
      id: test
      if: matrix.os == 'ubuntu-latest'
      # Note that the space after the last double dash (--) is intentional
      run: >
        dotnet test ./tests/SamplesTests.sln
        --logger console --logger trx --logger html --logger GitHubActions
        --results-directory ./TestResults --blame
        -- 
        RunConfiguration.CollectSourceInformation=true
      env:
        DAPR_CLI_PATH: ${{ steps.install-dapr.outputs.dapr-path }}
    
    - name: Publish Test Results
      if: (success() || steps.test.conclusion == 'failure') && matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: TestResults_${{ matrix.os }}
        path: ./TestResults
